<div class="row section-container formlist" after-render>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
               <em>Input 1</em>
               <pre>
                  <p id="c1"></p>
               </pre>
            </div>
            <div class="col-md-6 import-wrapper">
                <textarea ng-model="formlist.formInput" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <em>Select 1</em>
               <pre>
                  <p id="c2"></p>
               </pre>
            </div>
            <div class="col-md-6 import-wrapper">
                <textarea ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <em>Select 2</em>
               <pre>
                  <p id="c3"></p>
               </pre>
            </div>
            <div class="col-md-6 import-wrapper">
                <textarea ></textarea>
            </div>
        </div>
    </div>
</div>